<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script src="controllers.js"></script>
    </head>
    <body data-ng-app="eventosApp" data-ng-controller="eventosController as $ctrl">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">EventosUJA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mis eventos organizados
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button data-ng-click="$ctrl.verEventosOrganizados()" class="dropdown-item" type="submit">Eventos organizados futuros</button>
                                <button data-ng-click="$ctrl.verEventosOrganizados('pasado')" class="dropdown-item" type="submit">Eventos organizados ya celebrados</button>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mis eventos inscritos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button data-ng-click="$ctrl.verEventosInscritos('futuro')" class="dropdown-item" type="submit">Eventos inscritos futuros</button>
                                <button data-ng-click="$ctrl.verEventosInscritos('pasado')" class="dropdown-item" type="submit">Eventos inscritos ya celebrados</button>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eventos por tipo
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button data-ng-click="$ctrl.verEventosTipo('CHARLA')" class="dropdown-item" type="submit">Charla</button>
                                <button data-ng-click="$ctrl.verEventosTipo('CURSO')" class="dropdown-item" type="submit">Curso</button>
                                <button data-ng-click="$ctrl.verEventosTipo('ACTIVIDAD_DEPORTIVA')" class="dropdown-item" type="submit">Actividad deportiva</button>
                                <button data-ng-click="$ctrl.verEventosTipo('VISITA_CULTURAL')" class="dropdown-item" type="submit">Visita cultural</button>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestionar eventos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                                    Crear evento
                                </button>

                            </div>
                        </li>


                        <a class="nav-item nav-link" href="registro.html">Registro</a>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input data-ng-model="$ctrl.palabras" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar...">
                        <button data-ng-click="$ctrl.verEventosPalabras()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>

        </div>

        <div>


            <div class="row" style="margin-top:15px;">
                <section class="col-md-3"></section>


                <form class = "card bg-light col-md-6">
                    <div class ="card-header row">
                        <h4>Introduzca credenciales</h4>
                    </div>
                    <div class="card-body">

                        <div class ="row">

                            <div class="col-md-6 form-group">
                                <label for="nombreUsuario">Nombre</label>
                                <input data-ng-model="$ctrl.nombre" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Nombre">

                            </div>
                            <div class="col-md-6  form-group">
                                <label for="pwdUsuario">Contraseña</label>
                                <input data-ng-model="$ctrl.pwd" type="password" class="form-control" id="pwdUsuario" placeholder="Contraseña">
                            </div>

                            <button data-ng-click="$ctrl.introducirCredenciales()" type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </form>



            </div>


            <div class="row" style="margin-top:15px;">
                <section class="col-md-1"></section>
                <section class="col-md-10">

                    <h2>{{$ctrl.tituloTabla}}</h2>
                    <table class="table table-striped table-hover">
                        <thead>

                            <tr><th>Descripción</th><th>Fecha</th><th>Lugar</th><th>Nº de asistentes máximo</th> <th>Organizador</th> <th>Tipo de evento</th>

                            </tr>
                        </thead>
                        <tr class="e-pointer" data-ng-repeat="e in $ctrl.listaEventos">
                            <td>{{e.descripcion}}</td> <td>{{e.fecha}}</td> <td>{{e.lugar}}</td> <td>{{e.numeroMaxAsistentes}}</td> <td>{{e.organizador}}</td><td>{{e.tipo}}</td>
                            <td><button data-ng-click="$ctrl.inscribirEvento(e.id)" type="button" class="btn btn-primary">Inscribirme</button></td><td><button data-ng-click="$ctrl.cancelarInscripcion(e.id)" type="button" class="btn btn-danger">Cancelar inscripcion</button></td>
                            <td><button data-ng-click="$ctrl.cancelarEvento(e.id)" type="button" class="btn btn-dark">Cancelar evento</button></td>
                        </tr>
                    </table>





                </section>

            </div>

        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="lugar" class="col-form-label">Lugar:</label>
                                <input data-ng-model="$ctrl.lugar" type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="tipo" class="col-form-label">Tipo:</label>
                                    <input data-ng-model="$ctrl.tipo" type="text" class="form-control" id="recipient-name">
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="numAsistentes" class="col-form-label">Número Asistentes</label>
                                    <input data-ng-model="$ctrl.numAsistentes" type="number" class="form-control" id="recipient-name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="inputanio">Año</label>
                                    <input data-ng-model="$ctrl.anio" type="number" class="form-control">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputmes">Mes</label>
                                    <input data-ng-model="$ctrl.mes" type="number" class="form-control" >
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputdia">Día</label>
                                    <input data-ng-model="$ctrl.dia" type="number" class="form-control" >
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputhora">Hora</label>
                                    <input data-ng-model="$ctrl.hora" type="number" class="form-control" >
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputmins">Minutos</label>
                                    <input data-ng-model="$ctrl.minutos" type="number" class="form-control" >
                                </div>


                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Descripcion</label>
                                <textarea data-ng-model="$ctrl.descripcion" class="form-control" id="message-text"></textarea>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-ng-click="$ctrl.creaEvento()"  type="submit" class="btn btn-primary">Crear evento</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
